* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: pink;
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(136deg, rgb(248, 142, 160), rgb(240, 77, 240));
    margin: 100px;
    padding: 40px;
    border-radius: 10px;
}
.todo-app h2 {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color:rgb(111, 13, 202);
}
.todo-app h2 img {
    width: 80px;
    margin-left: 10px;
}
.row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: blanchedalmond;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(147, 231, 108);
    color: orangered;
    font-weight: bolder;
    border-radius: 45px;
    cursor: pointer;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/Uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    color:#5a5656;
    text-decoration:line-through;
} 
ul li.checked::before {
    background-image: url(assets/Done.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align:center;
}
ul li span:hover {
    background: rgb(230, 31, 31);
    border-radius: 50%;
}